.App {
  text-align: center;
}

.App-title{
/*  font-family: "Inter", sans-serif;*/
  margin-bottom: 34px;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:"slnt" 0;
  font-size: 130px;
  color: #969595;
}
.App-body {
  background-color: #1E1E1E;
  text-decoration: none;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.App-span{
  /*  font-family: "Inter", sans-serif;*/
  margin-top: 100px;
  font-optical-sizing: auto;
  font-weight: 61;
  font-style: normal;
  font-variation-settings:"slnt" 0;
  color:#969595;
  font-size: 20px;
}

